.us-pente-graph-auth input {
    width: 100%;
    height: 100%;
    padding: 0.5em;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.us-pente-graph-auth .text-error {
    text-align: center;
}

.us-pente-graph-auth button {
    width: 100%;
}

.us-pente-graph-auth button.loading {
    margin-left: 0;
}
