<div class="us-pente-graph-auth">
  <form action="" class="login">
    <p class="text-error">{{#if errorMessage}}{{errorMessage}}{{/if}}</p>

    <input class="username" type="text" placeholder="{{i18n 'us.pente.graph.auth.username'}}" autofocus />
    <input class="password" type="password" placeholder="{{i18n 'us.pente.graph.auth.password'}}" />

    <button class="btn btn-primary">{{i18n 'us.pente.graph.auth.login'}}</button>
  </form>
</div>
